@import "tailwindcss";

@theme {
    --breakpoint-xs: 30rem;
    --color-primary-100: var(--color-cyan-100);
    --color-primary-200: var(--color-cyan-200);
    --color-primary-300: var(--color-cyan-300);
    --color-primary-400: var(--color-cyan-400);
    --color-primary-500: var(--color-cyan-500);
    --color-primary-600: var(--color-cyan-600);
    --color-primary-700: var(--color-cyan-700);
    --color-primary-800: var(--color-cyan-800);
    --color-primary-900: var(--color-cyan-900);
}

.font-cal-sans {
    @apply font-[family-name:var(--font-cal-sans)]
}

.font-work-sans {
    @apply font-[family-name:var(--font-work-sans)]
}

.button {
    @apply px-4 inline-flex gap-2 h-10 items-center justify-center rounded-md text-sm bg-primary-200 focus:bg-primary-300 border hover:border-primary-500 border-primary-400 font-bold shadow-[0px_2px_4px_0px_rgba(10,13,18,0.1)] shadow-[0px_-3px_0px_0px_rgba(10,13,18,0.1)_inset] shadow-[0px_0px_0px_2px_rgba(10,13,18,0.25)_inset] duration-150 [transition-timing-function:cubic-bezier(0.175,0.885,0.32,1.275)] active:translate-y-[1px] cursor-pointer;
}
